@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<h4> Ronaldo Cesar Alves Nogueira</h4> 
<h4>Email: @ViewData["email"]</h4>


<address>
    <strong>Website Linkedin:  </strong> <a href="https://www.linkedin.com/in/ronaldocesar28">Linkedin</a>
</address>
<address>
    <strong>Website GitHub:  </strong> <a href="https://github.com/RonaldoCesar28">GitHub</a>
</address>
<address>
    <strong>Website Instagram:  </strong> <a href="https://instagram.com/ronaldo_developer">Instagram</a>
</address>

    
