@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<h4>Information technology student: Ronaldo Cesar Alves nogueira</h4> 
<h4>Student email: @ViewData["email"]</h4>


<address>
    <strong>More information:  </strong> <a href="https://www.linkedin.com/in/ronaldocesar28">Linkedin</a>
</address>
<address>
    <strong>More information:  </strong> <a href="https://github.com/RonaldoCesar28">GitHub</a>
</address>
<address>
    <strong>More information:  </strong> <a href="https://instagram.com/ronaldo_developer">Instagram</a>
</address>

    
